.footer {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    background-color: #101010;
}

.footer__copyright {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #fff;
}